.App {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  margin-top: 40px;
  color: red;
  text-align: center;
}

.Aboutt {
  text-align: left;
  font-size: 20px;
  color: white;
  background-size: cover;
  background: url('./components/Back.jpg');
  height: 100vh;
  padding-top: 0%;
}

.App-link {
  color: cyan;
}
